{% extends 'base.html' %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary">
</form>  
<table>
    <tr>
        <td>
{% for x in myphoto %}
 

<a href=""><img class="img-fluid p-1" src="/media/{{ x.ph_link }}" id="resize" style="max-width: 300px;" /></a> 
<a href="{% url 'delete_photo' x.id %}" class="btn btn-danger">X</a>
{% endfor %}
        </td>
    </tr>
</table>
{% endblock content %}