{% extends 'base.html' %}
{% block content %}

<a href="{% url 'addx' %}" class="btn btn-primary">Add Item <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
<table id="example" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>URL</th>
      <th>Username</th>
      <th>Password</th>
      <th>Categoria</th>
      <th>Remarks</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>URL</th>
      <th>Username</th>
      <th>Password</th>
      <th>Categoria</th>
      <th>Remarks</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </tfoot> 
  <tbody> 
    {% for x in itemkey %} 
    <tr>
      <td><a href="{{x.url}}">{{x.url}}</a></td>
      <td>{{x.username}}</td>
      <td>{{x.password}}</td>
      <td>{{x.categoria}}</td>
      <td>{{x.remarks}}</td>
      <td><a href="{% url 'editx' x.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
      <td><a href="{% url 'deletex' x.id %}"><i class="fa fa-trash" aria-hidden="true" style="color:red"></i></a></td>
    </tr>
    {% endfor %}
  </tbody> 
  </table>
{% endblock content %}