{% extends 'base.html' %}
{% block content %}
<table id="example" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>URL</th>
      <th>Username</th>
      <th>Password</th>
      <th>Categoria</th>
      <th>Remarks</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>URL</th>
      <th>Username</th>
      <th>Password</th>
      <th>Categoria</th>
      <th>Remarks</th>
      <th>Edit</th>
    </tr>
  </tfoot> 
  <tbody> 
    {% for x in itemkey %} 
    <tr>
      <td><a href="{{x.url}}">{{x.url}}</a></td>
      <td>{{x.username}}</td>
      <td>{{x.password}}</td>
      <td>{{x.categoria}}</td>
      <td>{{x.remarks}}</td>
      <td><a href="{% url 'editx' x.id %}">edit</a></td>
    </tr>
    {% endfor %}
  </tbody> 
  </table>
{% endblock content %}